form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Source Sans Pro', sans-serif;
}

.new-tweet {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

textarea {
  background-color: #f4f1ec;
  border: none;
  margin-top: 10px;

}

.button-counter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  border-top: 2px solid black;
  padding-top: 10px;
  margin-top: 10px;
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
  border-color: #4056A1;
}

.negativeChars {
  color: crimson;
}